<div id="palm-dialog-content" class="palm-dialog-content">
    <div class="palm-dialog-title">
        Search for a city name
    </div>
	<div class="palm-dialog-separator"></div>

	<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
			<div id="city" class="label">City</div>
			<div x-mojo-element="TextField" id="cityname"></div>
		</div>    
	</div>

    <div class="palm-dialog-buttons">
    	<div x-mojo-element="Button" id="lookup"></div>
		<!--<div id="lookup" class="palm-button buttonfloat" x-mojo-tap-highlight="momentary">Lookup</div>-->
		<!--<div id="cancel" class="palm-button buttonfloat" x-mojo-tap-highlight="momentary">Cancel</div>-->
    </div>

</div>