<div id="loading">
<center>
<h1>
looking for<br>places nearby...
</h1>
<div x-mojo-element="Spinner" id="spinnerId" class="spinnerClass" name="spinnerName"></div>
</center>
<br>
</div>

<!--<div id="donatemessage" style="display:none"><center><table border=0 cellpadding=0 cellspacing=0 width=240><tr><td><small>
	<br><center>If you like this free app please donate. You can hide this message at preferences menu.<br><br>
	<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=TEUPLVZ5UBWNQ"><img width="138" height="39" src="images/btn_donate_LG.gif"></a></center><br>
</small></td></tr></table></center></div>-->

<div id="nowhere" style="display:none"><div style="padding:20px">There were no places found around you. Either check your GPS and then try again or extend the search radius in the preferences.</div>
<button id="tryagain" class="palm-button">Try again</button>
<button id="preferencesbutton" class="palm-button">Preferences</button>
</div>

<div id="plist" class="listClass" x-mojo-element="List" >
</div>

<div id='admob_ad'></div>

<div id="debug"></div>