<div id="main">
    <div id="main-body" class="itemFull">
		<center>
			<h1>Neighborhood Guide 1.2.1</h1>
			A program written by<br>René Tünnermann,<br>Sebastian Hammerl<br><br>
			Contact:<br><a href="mailto:wikiplaces@omoco.de">wikiplaces@omoco.de</a><br><a href="http://wikiplaces.omoco.de">http://wikiplaces.omoco.de</a><br><br>
			Please let us know any error or enhancement.<br><br>
			Credits: Icon (<a href="http://www.gnu.org/licenses/lgpl.html">LGPL</a>) by <a href="http://www.everaldo.com/crystal/">www.everaldo.com/crystal/</a>
		</center>
    </div>
</div>